.home{
  position: relative;
  background-image: url('/img/bg_bot.jpg');
  background-color:  rgba(24, 24, 24, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 4rem 0;
  color: var(--white);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 90px 0;
}
.home::before{
  position: absolute;
  content: '';
  width: 100vw;
  height: 200px;
  bottom: -10px;
  left: 0;
  z-index: 99;
  background-image: url('/svg/vector_home.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.content_home{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 300px;
  background:radial-gradient(64.7% 54.7% at 50% 43.18%, rgba(24, 24, 24, 0.53) 0%, rgba(24, 24, 24, 0) 100%);
}
.content_home h1{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
}
.content_home h2{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.content_home button{
  width: 197px;
  height: 47px;
  border: none;
  color: #fff;
  background: var(--blue);
}


.news_home{
  background-color: var(--white_secondary);
  min-height: 100vh;
  padding: 4rem 0;
}

.content{
  text-align: center;
}
.content h2{
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
}
.content h3{
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: auto;
}
.news_content{display: flex;
  flex-direction: column;
}
.news_content .post{
  width: 100%;
  min-height: 200px;
  height: auto;
  justify-content: space-between;
  display: flex;
  margin: 20px 0;
  background: var(--white);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.post_iframe{
  height: 250px;
}
.img_post{
  width: 350px;
  background-color: #000;
  position: relative;
}
.post .text{
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 20px;
  height: auto;
}
.post .text h4{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.post .text a{
  font-weight: 600;
  color: var(--blue);
}

.services_home{
  background-color: var(--black);
  color: var(--white);
  padding: 4rem 0;
}
.services_home .content h2{
  color: var(--text_gray);
  margin-bottom: 30px;
}
.services_content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}
.service_card{
  width: 350px;
  height: 232px;
  color: #000;
  background: #F9F9F9;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
  position: relative;
  padding: 20px;
  margin: 10px 0;
}
.service_card h3{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
  width: 100%;
  text-align: left;
}
.services_content .icon{
  width: 40px;
  margin-bottom: 10px;
}

.work_home{
  background-color: var(--white_secondary);
  padding: 50px 0;
 
}
.work_home .content{
  text-align: left;
}
.work_home .content h2{
  color: var(--blue);
  margin-bottom: 20px;
}
.work_home .content h3{
  width: auto;
  margin: auto;
  text-align: left;
}
.work_content{
  padding-top: 40px;
}
.card_work{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.work_home .card_work h3{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  width: auto;
}
.work_text{
  width: 100%;
  background: var(--white);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.work_img{
  width: 100%;
  height: 200px;
  background: #aaa;
  position: relative;
}
.work_img img{
  object-fit: cover;
}
.btn_project{
  width: 150px;
  height: 40px;
  margin-top: 20px;
  background: var(--blue);
  border: none;
  color: #fff;
}
.slogan_contact{
  width: 100%;
  padding: 50px 0;
}
.slogan{
  background: var(--blue);
  color: #fff;
  border-radius: 100px 0px;
  display: flex;
  padding: 30px 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.slogan h3{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px;
}
.slogan p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.slogan .buttons{
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.slogan button{
  width: 165.2px;
  height: 51.49px;
  border: none;
  margin: 20px;
  background: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}


.testimonial_home{
  padding: 40px 0;
}
.content_testimonial h2{
  color: var(--blue);
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
}
.content_testimonial h3{
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  width: 100%;
}
@media (min-width:900px){
  .content_home h2{
    width: 60vw;
    font-weight: 700;
    font-size: 58.9206px;
    line-height: 71px;
    text-align: center;
  }
  .home::before{
    position: absolute;
    content: '';
    width: 100vw;
    height: 300px;
    bottom: 0;
  }
  .news_content{
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-template-rows: 1fr;
    grid-gap: 10px 40px;
    margin: 20px 0;
  }
  .news_content .post_iframe{
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    height: 100%;
  }
  
  .news_content .post{
    width: 100%;
    margin: 0;
    height: auto;
  }
  .post .img_post{
    width: 400px;

  }
  .work_content{
    flex-direction: row;
  }
  .card_work{
    flex-direction: row;
    min-height: 300px;

  }
  .work_img{
    min-height: 300px;
  }
  .content_testimonial h3{
    width: 60vw;
  }
  .slogan{
    padding: 40px 150px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
